@import url("https://fonts.googleapis.com/css2?family=Inter: wght@200; 300; 400;500&display=swap");
:root {
    --highlight: #00FFFF;  /* Couleur de l'élement quand on y met le curseur */
}

/*
* {
    box-sizing: border-box;
}
*/

body {
    font-family: var(--font-style);
    background-color: #1C2A44;  /* Couleur de fond de la page */
}

header {
    display: auto;  /* Position de la barre de navigation --> peut mettre flex */
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;    
}

.navbar {
border-radius: 50px;         /* Arrondi de la barre de navigation */
background-color: #18181B;    /* Couleur de fond de la barre de navigation */
display: flex;              /* Hauteur de la barre de navigation */
justify-content: space-between;
width: 100%;    /* ou mettre à 450px --> Largeur de la barre de navigation */
box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);    /* Couleur du reflet des bordures de la barre  */
margin: auto;    /* ou mettre à 5%   --> Position de la barre de navigation haut ou bas */  
border: 0.1px solid #099FFF;  /* Taille du tracé de la bordure et sa couleur */
}

.list-item {
font-size: 30px;   /* Taille des icônes dans la barre de navigation */
color: white;  /* Couleur des icônes */
min-height: 80px;     /* Positionnement des items dans la barre */
list-style-type: none;
flex-basis: 100%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
transform: translateY(0);
transition: transform 0.5s ease, opacity 0.2s ease;
cursor: pointer;
}

.list-item-name {
    font-size: 11px; 
    font-weight: 500;
    position: auto;   /* Position du texte de l'icône quand on y met le curseur --> absolute peut être mis pour avoir en dessous de l'icône*/
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
}

.list-item:hover {
    color: var(--highlight);
    transform: translateY(-6px);
}

.list-item:hover .list-item-name {
    transform: translateY(20px);
    opacity: 1;
}

@media (max-width: 350px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        max-width: 120px;
        padding-bottom: 20px;
        }

    .list-item {
        flex-basis: auto;
        }

    .list-item:hover .list-item-name {
        transform: translateY(25px);
        }
}
a{
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--font-style);
/*	cursor: pointer;  */
	text-transform: uppercase;
}


/* Logo */
.logo img{
	padding-top: 5px;
	height: 40px;
	cursor: pointer;
}

/* Vidéo sur la page */
div#video
	 {
	 display: flex;
	 flex-direction: row; /* Pour un affichage de gauche à droite */
	 width:680px;
	 height:300px;

	 }

/* Image en fond */
div#fondpage
	 {
		display: flex;
		background : url('./fonddepage.jpg') ; 
		/*background-color: blue; */
	 } */
 
 
/* Partie de chat */
div#chat-container
	 {
	 margin-left: auto;
	 width:250px;
	 height:400px;
	 }		 
	 

/* Partie de recommandation */
div#recommandation
	 {
	 margin: 0; /* Aucune marge à droite, laissant le bloc à gauche */
	 width:250px;
	 height:68vh;
	 background-color : gray ;
	 border: 3px solid red;
	 border-radius: 10px; /* Valeur arbitraire pour l'arrondi des bords */
	 }
     
h2 {
        font-family: 'Luminari', fantasy;
        text-align: center;
        text-decoration: underline overline;
    }
 
/* footer */ 
footer {
	width: 100%;
	height: 100%;
    background-color: #C0C0C0;
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color:red ;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: var(--main-decor-color);
}

h4 {
    color: black ;
}

.copyright a:hover{
	color: var(--main-decor-color);
}


/* Mise en forme ménu déroulant avec liens */

select {
margin: 0;
/* padding-left: 15px; */
color: black ;    /* Couleur des options dans le select --->  remettre couleur de départ #555555 */
cursor: pointer;
}
.select {
position: relative;
width: 100%;
height: 45px;
/* border-radius: 5px;
border: 2px solid #CED4DA; */
min-height: 80px; 
}






