body {
    --color-bright: #f2f1c6;
    --color-orange: #FF6138;
    --body-background-color: #2c3135;
    
    background: var(--body-background-color);
  }
  
  #intro {
    color: var(--color-bright);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
  }
  
  html, body, #contact-info {
    width:100%;
    height:100%;
  }
  
  #contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #contact-info .links {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
  }
  
  #contact-info a {
    text-decoration: none;
    color: var(--color-bright);
    font-size: 5rem;
    margin: 0 50px; /* Ajoutez une marge entre chaque icône */
  }
  
  h2 {
    font-family: 'Luminari', fantasy;
    text-align: center;
    text-decoration: underline overline;
}