<!-- Section de navigation -->
<header>
    <div class="navbar">

        <li class="list-item"> <a class="logo" href="#home">
                <img src="./Ressources/image1.jpg" alt="logo" /> <!-- Pour mettre le Logo replit dans l'onglet -->
            </a>
        </li>

        <li class="list-item"><a href="../../../PHP/login.php">
                <i class="fa-solid fa-user"></i>
                <span class="list-item-name">CONNEXION / INSCRIPTION</span>
            </a>
        </li>
    </div>

</header>


<!-- Vidéo et image en fond -->

<div id="fondpage">

    <!-- Bloc commentaire -->
    <div id="recommandation">
        <h2> LES PLUS REGARDES</h2>
        <ul>
            <li *ngFor="let stream of streams">
                <app-list-stream-element [streamerName]="stream.user_name" [gameName]="stream.game_name"
                    [nbViewer]="stream.viewer_count">
                </app-list-stream-element>
                <i class="far fa-arrow-alt-circle-down"></i>
            </li>
        </ul>

    </div>


    <!-- Bloc streaming -->
    <div id="twitch-embed"></div>


</div>

<!-- Pied de la page -->

<footer class="copyright">
    <a href="#" target="_blank"> GROUPE 2 </a>
</footer>