<!-- Section de navigation -->
<header>
    <div class="navbar">

        <li class="list-item"> <a class="logo" href="#home">
                <!-- <img src="./Ressources/image1.jpg" alt="logo" /> Pour mettre le Logo replit dans l'onglet -->
            </a></li>

        <li class="list-item"><a href="../../../PHP/login.php">
                <i class="fa-solid fa-user"></i>
                <span class="list-item-name">CONNEXION / INSCRIPTION</span>
            </a>
        </li>

    </div>

</header>


<!-- Vidéo et image en fond -->

<div id="fondpage">

    <!-- Bloc commentaire -->
    <div id="recommandation">
        <h2> LES PLUS REGARDES</h2>
        <ul>
            <li *ngFor="let stream of streams">
                <app-list-stream-element 
                    [streamerName]="stream.user_name" 
                    [gameName]="stream.game_name"
                    [nbViewer]="stream.viewer_count">
                </app-list-stream-element>
            </li>
        </ul>

    </div>



    <!-- Bloc streaming -->



    <div id="video">
        <!-- Ajout des vidéos -->
        <div class="video-container">

            <!-- Utilisation d'une classe pour le conteneur des vidéos -->
            <!-- Boucle for pour générer les balises video -->
            <video *ngFor="let _ of [].constructor(16)" width="25%">
                <source src="../assets/video1.mp4" type="video/mp4">
            </video>
        </div>
    </div>

</div>



<!-- Pied de la page -->

<footer class="copyright">
    <a href="#" target="_blank"> GROUPE 2 </a>
</footer>