/* You can add global styles to this file, and also import other style files */
/* @import url("https://fonts.googleapis.com/css2?family=Inter: wght@200; 300; 400;500&display=swap"); */
:root {
    --highlight: #00FFFF;  /* Couleur de l'élement quand on y met le curseur */
}

/*
* {
    box-sizing: border-box;
}
*/

body {
    font-family: var(--font-style);
    background-color: #1C2A44;  /* Couleur de fond de la page */
}

header {
    display: auto;  /* Position de la barre de navigation --> peut mettre flex */
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;    
}

.navbar {
border-radius: 50px;         /* Arrondi de la barre de navigation */
background-color: #18181B;    /* Couleur de fond de la barre de navigation */
display: flex;              /* Hauteur de la barre de navigation */
justify-content: space-between;
width: 100%;    /* ou mettre à 450px --> Largeur de la barre de navigation */
box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);    /* Couleur du reflet des bordures de la barre  */
margin: auto;    /* ou mettre à 5%   --> Position de la barre de navigation haut ou bas */  
border: 0.1px solid #099FFF;  /* Taille du tracé de la bordure et sa couleur */
}

.list-item {
font-size: 30px;   /* Taille des icônes dans la barre de navigation */
color: white;  /* Couleur des icônes */
min-height: 80px;     /* Positionnement des items dans la barre */
list-style-type: none;
flex-basis: 100%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
transform: translateY(0);
transition: transform 0.5s ease, opacity 0.2s ease;
cursor: pointer;
}

.list-item-name {
    font-size: 11px; 
    font-weight: 500;
    position: auto;   /* Position du texte de l'icône quand on y met le curseur --> absolute peut être mis pour avoir en dessous de l'icône*/
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
}

.list-item:hover {
    color: var(--highlight);
    transform: translateY(-6px);
}

.list-item:hover .list-item-name {
    transform: translateY(20px);
    opacity: 1;
}

@media (max-width: 350px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        max-width: 120px;
        padding-bottom: 20px;
        }

    .list-item {
        flex-basis: auto;
        }

    .list-item:hover .list-item-name {
        transform: translateY(25px);
        }
}
a{
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--font-style);
/*	cursor: pointer;  */
	text-transform: uppercase;
}


/* Logo */
.logo img{
	padding-top: 5px;
	height: 40px;
	cursor: pointer;
}

/* Vidéo sur la page */
div#video
	 {
	 margin: 0 auto;
	 width:680px;
	 height:400px;
	 }

/* Image en fond */
div#fondpage
	 {
		display: flex;
		/* background : url('./fonddepage.jpg') ;  */
		/*background-color: blue; */
	 }
 
 
/* Partie de chat */
div#chat-container
	 {
	 margin-left: auto;
	 width:250px;
	 height:400px;
	 }		 
	 
/* Partie de recommandation */
div#recommandation
	 {
	 margin: 0; /* Aucune marge à droite, laissant le bloc à gauche */
	 width:250px;
	 height:68vh;
	 background-color : gray ;
	 border: 3px solid red;
	 border-radius: 10px; /* Valeur arbitraire pour l'arrondi des bords */
	 }

	 
/* footer */ 
footer {
	width: 100%;
	height: 100%;
    background-color: #C0C0C0;
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: var(--main-decor-color);
}

/*  -------- Mise en forme du chat  ---------*/

#chat-container {
    max-width: 350px; 
    margin: 300 auto; /* 50px 0 0 50px;  50px en haut, 0 à droite, 0 en bas, 50px à gauche */
	width:350px;
    padding: 20px;
	height:70vh;
    border: 3px solid red;
	border-radius: 10px; /* Valeur arbitraire pour l'arrondi des bords */
	background-color: gray ;
	
}

#chat-window {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid ;
    margin-bottom: 10px;
    padding: 10px;
	background-color: white ;
}

#message-input {
    width: 70%;
    padding: 5px;
	border-radius: 5px; /* Arrondi des coins */
}

button {
    padding: 5px 10px;
    cursor: pointer;
	border-radius: 5px; /* Arrondi des coins */
}

h2 {
    font-family: 'Luminari', fantasy;
	text-align: center;
	text-decoration: underline overline;;
}

#username-input {
    display: flex;
    align-items: center;
	margin-bottom: 15px; /* Espacement en bas */
}


#username {
	width: 70%;
    padding: 5px; 
  /*  border: 1px solid #ccc;  Couleur de la bordure */
    border-radius: 5px; /* Arrondi des coins */
}

#username-button {
    padding: 5px 10px;
    background-color: #4CAF50; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    border-radius: 5px; /* Arrondi des coins */
    cursor: pointer;
}

#username-button:hover {
    background-color: #45a049; /* Couleur de fond du bouton au survol */
}






